<!DOCTYPE HTML>
  <html>
    <head>
      <title></title>
    </head>
  <body>
<form action="/landmarks" method="post">
  <input type="text" id="landmark_name" name="landmark[name]">
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <input type="submit" value="Create New Landmark">
</form>
    </body>
  </html>
